body {
    /* background-image: url("../img/sitebg.png"); */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center
}

.custom-card-glass {
    box-shadow: 0px 0px 30px rgba(255, 0, 149, 0.28);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    /* margin-top: 20px; */
}

.custom-card {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    /* margin-top: 20px; */
}

.readmore {
    color: cyan !important;
}

.nicepad {
    padding: 7px 7px !important;
}

.custom-card-padded {
    padding: 20px 20px;
}

.custom-card * {
    color: black;
}

body * {
    color: black;
    letter-spacing: 3px;
}

.following * {
    letter-spacing: 1px;
}

.sitebtn {
    border-radius: 20px;
    background-color: rgb(255, 62, 152);
    border-color: rgb(255, 62, 152);
}

.sitebtn * {
    color: white;
}

footer {
    background-color: rgb(90, 90, 90);
    padding: 15px 15px;
}

footer * {
    color: white;
    font-size: 14px;
}

.spyder {
    color: rgb(255, 0, 0);
    font-size: 15px;
}

.webs {
    color: rgb(104, 232, 255);
    font-size: 15px;
}

@media (min-width: 700px) {
    .swbranding {
        float: right;
        font-size: 15px;
    }
}

@media (min-width: 700px) {
    .order {
        width: 400px;
    }
    
    .item {
        width: 600px;
    }
}

